{
  "presets": ["@babel/preset-flow", "@babel/preset-env", ["@babel/preset-stage-0", { "decoratorsLegacy": true }]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "samba": "./src"
        }
      }
    ]
  ]
}
