{
  "presets": ["flow", "env"],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "test": "./test"
        }
      }
    ]
  ]
}
